{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
<h3>O USPBusFlow surge como uma resposta inovadora à necessidade premente 
      de otimização do transporte público dentro do campus universitário. 
      Alinhando-se à filosofia do desenvolvimento ágil e eficaz, este 
      sistema não apenas agrega informações cruciais, mas também integra 
      funcionalidades essenciais para proporcionar uma visão holística e 
      em tempo real do panorama de transporte universitário.</h3>
{% endblock content %}