{% extends 'base.html' %} {% block title %} 
{{ ponto.nome }} ({{ponto.lotacao }}) {% endblock title %} {% block content %}
<h2>Detalhes do Ponto {{ ponto.nome }} ({{ ponto.lotacao }})</h2>

<section class="dados-de-ponto">
  <ul>
    <li>Nome: {{ ponto.nome }}</li>
    <li>Lotação: {{ ponto.lotacao }}</li>
    <li><a href="{% url 'busflow:update' ponto.id %}">Editar lotacao</a></li>
  </ul>
</section>

<hr>

<section>
    <header>
        <h3>Onibus</h3>
    </header>
    <ul>

        {% if  ponto.id_onibus %}
                <figure>
                    <p>Proximo onibus passa em: {{time.hour}}h:{{time.minute}}min</p>
                    <blockquote>
                        <a href="{% url 'busflow:update_onibus' ponto.id_onibus.id %}">{{ ponto.id_onibus }}</a>
                    </blockquote>
                </figure>
        {% else %}
            <p>Sem previsao de onibus.</p>
        {% endif %}
    </ul>
</section>

{% endblock content %}